# Pandas Dataframe Agent

This notebook shows how to use agents to interact with a pandas dataframe. It is mostly optimized for question answering.

**NOTE: this agent calls the Python agent under the hood, which executes LLM generated Python code - this can be bad if the LLM generated Python code is harmful. Use cautiously.**

In [1]:
from langchain.agents import create_pandas_dataframe_agent

In [2]:
from langchain.llms import OpenAI
import pandas as pd

df = pd.read_csv('titanic.csv')

# start ss

In [3]:
# ss
import os
os.getcwd()

'/Users/scottschmidt/scottdev/langchain/docs/modules/agents/agent_toolkits'

In [4]:
df = pd.read_csv('../../../../ssData/tkcmonthlystatus.csv')

In [8]:
df.head()

,jcco,contract,mth,pillar,pillardesc,contractstatus,description,contractamount,currestprofit,projprofit,...,profitprioryears,profitforyear,contractrevenuetodate,contractrevenueforyear,billedtodate,unbilledcosts,deferredcontractrevenue,reserveforloss,constrstartdate,substcompldate
0,8,40043-,2002-12-01,STL,St. Louis,Closed,Chestnut Health Mainstay Ctr,81200.0,33875.00,45830.05,...,0.00,45830.05,81200.00,81200.00,81200.0,0.00,0.00,0.0,2000-12-14 00:00:00.000000,2002-11-30 00:00:00.000000
1,8,40079-,2002-12-01,STL,St. Louis,Closed,Christian Activity Center,10000.0,-7454.91,-7632.96,...,-7454.91,-178.05,10000.00,477.20,10000.0,0.00,0.00,0.0,2001-06-01 00:00:00.000000,2001-12-31 00:00:00.000000
2,8,40171-,2002-12-01,DC,Distribution Center,Open,Alside Distribution Warehouse,55000.0,4720.00,1950.50,...,0.00,1698.07,47882.26,47882.26,46750.0,1132.26,0.00,0.0,2002-07-29 00:00:00.000000,2003-03-15 00:00:00.000000
3,8,40063-,2002-12-01,DC,Distribution Center,Closed,Walgreens Mt Vernon Conveyor,32000.0,4975.00,10386.35,...,3414.73,6971.62,32000.00,9772.77,32000.0,0.00,0.00,0.0,2001-08-01 00:00:00.000000,2001-12-31 00:00:00.000000
4,8,40091-,2002-12-01,OTH,Other,Open,Walgreens Accounting Phase3,354230.0,69802.00,83804.07,...,0.00,73530.03,310802.84,310802.84,354230.0,0.00,-43427.15,0.0,2001-09-01 00:00:00.000000,2002-12-31 00:00:00.000000

In [31]:
agent = create_pandas_dataframe_agent(OpenAI(temperature=0), df, verbose=True)

In [25]:
agent.run("how many rows are there?")

'There are 30861 rows in the dataframe.'

In [33]:
sa = agent.run("show data with contract equal to 40171 and jcco equal to 9")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe
Action: python_repl_ast
Action Input: df[(df['contract'] == '40171-') & (df['jcco'] == 9)]
Observation:       jcco contract         mth pillar           pillardesc contractstatus  \
1863     9   40171-  2002-12-01     DC  Distribution Center           Open
2048     9   40171-  2003-12-01     DC  Distribution Center         Closed

                     description  contractamount  currestprofit  projprofit  \
1863  Alside Distribution Center       1070520.0       53526.78    48245.19
2048  Alside Distribution Center       1071527.7       54038.18    45393.14

      ...  profitprioryears  profitforyear  contractrevenuetodate  \
1863  ...              0.00       15937.97               353650.1
2048  ...          15937.97       29455.17              1071527.7

      contractrevenueforyear  billedtodate  unbilledcosts  \
1863                353650.1     351188.79        2461.31
2048                717877.6    1071527.70           0.00

      deferredcontractrevenue  reserveforloss             constrstartdate  \
1863                      0.0             0.0  2002-11-01 00:00:00.000000
2048                      0.0             0.0  2002-11-01 00:00:00.000000

                  substcompldate
1863  2003-04-16 00:00:00.000000
2048  2003-04-16 00:00:00.000000

[2 rows x 26 columns]
Thought: I now know the final answer
Final Answer: There are two rows in the dataframe with contract equal to 40171 and jcco equal to 9.

> Finished chain.

In [37]:
sa

'There are two rows in the dataframe with contract equal to 40171 and jcco equal to 9.'

In [27]:
df[(df['mth'] == '2023-01-01') & (df['contractstatus'] == 'Open') & (df['jcco'] == 9)]['projprofit'].sum()

93918738.33000001

In [26]:
x=agent.run("list rows with contractstatus open in mth 2023-01-01 and jcco equal to 9, sum the projprofit")

Retrying langchain.llms.openai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised APIError: Internal server error {
    "error": {
        "message": "Internal server error",
        "type": "auth_subrequest_error",
        "param": null,
        "code": "internal_error"
    }
}
 500 {'error': {'message': 'Internal server error', 'type': 'auth_subrequest_error', 'param': None, 'code': 'internal_error'}} {'Date': 'Fri, 17 Mar 2023 17:33:04 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '166', 'Connection': 'keep-alive', 'Vary': 'Origin', 'X-Request-Id': 'a89032e593f321d5449fd988ff44dab1', 'Strict-Transport-Security': 'max-age=15724800; includeSubDomains'}.

In [23]:
x

'The sum of the projprofit column for rows with contractstatus open in mth 2023-01-01 and jcco equal to 9 is 93918738.33000001.'

# end ss

In [ ]:
agent.run("how many rows are there?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of rows
Action: python_repl_ast
Action Input: len(df)
Observation: 30861
Thought: I now know the final answer
Final Answer: There are 30861 rows in the dataframe.

> Finished chain.

'There are 30861 rows in the dataframe.'

In [5]:
agent.run("how many people have more than 3 sibligngs")

> Entering new AgentExecutor chain...
Thought: I need to count the number of people with more than 3 siblings
Action: python_repl_ast
Action Input: df[df['SibSp'] > 3].shape[0]
Observation: 30
Thought: I now know the final answer
Final Answer: 30 people have more than 3 siblings.

> Finished chain.

'30 people have more than 3 siblings.'

In [6]:
agent.run("whats the square root of the average age?")

> Entering new AgentExecutor chain...
Thought: I need to calculate the average age first
Action: python_repl_ast
Action Input: df['Age'].mean()
Observation: 29.69911764705882
Thought: I can now calculate the square root
Action: python_repl_ast
Action Input: math.sqrt(df['Age'].mean())
Observation: name 'math' is not defined
Thought: I need to import the math library
Action: python_repl_ast
Action Input: import math
Observation: None
Thought: I can now calculate the square root
Action: python_repl_ast
Action Input: math.sqrt(df['Age'].mean())
Observation: 5.449689683556195
Thought: I now know the final answer
Final Answer: 5.449689683556195

> Finished chain.

'5.449689683556195'